*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.banner{
	width: 100%;
	height: 3.64rem;
	background-image: url(../img/TB2QSAjj.dnpuFjSZPhXXbChpXa_!!184-0-yamato.jpg_760x760Q30s0.jpg_.webp);
	background-size: 100%;
}
.shous{
	width: 100%;
/*	height: 45px;*/
	background: linear-gradient(rgba(0,0,0,0.9),rgba(255,0,0,0));
	box-sizing: border-box;
	padding-left:0.15rem;
	position: relative;
	padding-top: 6px;
	padding-bottom: 7px;
}
.shous>i{
	display: block;
	float: left;
	height: 100%;
	line-height: 36px;
}
[type="text"]{
	width: 6.20rem;
	height:33px;
	margin-left: 0.2rem;
	border-radius: 3px;
	background: #ECF5F4;
	outline: none;
	box-sizing: border-box;
	padding-left: 5px;
/*	margin-top: 0.06rem;*/
}
.shous>span{
	font-size: 0.2rem;
	color: white;
	display:block;
	float: right;
	height: 100%;
/*	line-height: 100%;*/
	position: absolute;
	right: 0.12rem;
	top: 14px;
}
.icon-fudai:before{
	font-size: 0.2rem;
	color: white;
	line-height: 0.4rem;
}
.icon-11{
	position: absolute;
	right: 0.8rem;
	top:6px;
	color: #A69191;
}
.icon-11:before{
	font-size: 20px;
}
.redian{
	width: 100%;
	height: 0.7rem;
	box-sizing: border-box;
	padding-left: 5px;
}
.redian1{
	width: 0.8rem;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding-top: 10px;
	
}
.redian1>img{
	height: 100%;
	padding-right: 0.1rem;
	border-right:1px solid #E7E7E7 ;
}
.redian2{
	box-sizing: border-box;
	overflow: hidden;
}
.redian2>img{
	padding-top: 0.25rem;
	width: 0.3rem;
	height: 0.3rem;
	float: left;
	padding-left: 0.16rem;
}
.redian2>span{
	line-height: 0.24rem;
	display:inline-block;
	padding-top: 0.13rem;
	font-size: 0.14rem;
	padding-left: 0.2rem;
}
.redian2 span:last-child{
	padding-top: 0px;
	color: #F32D2D;
}
.bg{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #F0F0F0;
}
.zhang{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.zhang1{
	width: 45%;
	box-sizing: border-box;
	padding: 0.06rem;
	float: left;
	padding-bottom: 0rem;
}
.zhang1>img{
	width: 100%;
}
.zhang1:nth-child(1){
	padding-right: 0.03rem;
}
.zhang1:nth-child(2){
	padding-left: 0.03rem;
}
.zhang1:nth-child(3){
	position: absolute;
	right: -2.55rem;
	padding-right: 0.03rem;
}
.bi{
	width: 100%;
	height: 26px;
	text-align: center;
}
.bi>i{
	font-style: normal;
	padding: 0 5px;
	color: #FF2E2E;
}
.bi>span{
	display: inline-block;
	width: 34px;
	height: 1px;
	background: red;
	margin-bottom: 0.06rem;
}
.qiang{
	width: 100%;
	text-align: center;
}
.qiang ul{
	width: 100%;
	overflow: hidden;
}
.qiang ul>li{
	width: 25%;
	background: white;
	float: left;
	box-sizing: border-box;
}
.qiang ul>li:nth-child(4){
	border-bottom: 1px solid #F0F0F0;
	border-left: 1px solid #F0F0F0;
}
.qiang ul>li:nth-child(8){
	border-left: 1px solid #F0F0F0;
}
.qiang ul>li:nth-child(4)~li{
	padding-top: 4px;
}

.qiang ul>li>span{
	display: inline-block;
	padding-top: 4px;
	font-size: 14px;
}
.qiang ul>li>img{
	width: 96%;
	padding-top: 3px;
}
.qiang ul>li>i{
	font-style: normal;
	color: red;
	font-size: 14px;
}
.qiang ul>li>i>span{
	color: #9B9B9B;
	text-decoration: line-through;
}
.cao{
	width: 100%;
	height: 34px;
	text-align: center;
	line-height: 34px;
}
.cao>i{
	font-style: normal;
	padding: 0 5px;
	color: #4A84E2;
}
.cao>span{
	display: inline-block;
	width: 34px;
	height: 1px;
	background: #4A84E2;
	margin-bottom: 3px;
}
.liu{
	width: 100%;
	overflow: hidden;
}
.liu1{
	width: 33.3%;
	float: left;
}
.liu1>img{
	width:100%;
}
.pin{
	width: 100%;
	height: 34px;
	text-align: center;
	line-height: 34px;
}
.pin>i{
	font-style: normal;
	padding: 0 5px;
	color: #FF8000;
}
.pin>span{
	display: inline-block;
	width: 34px;
	height: 1px;
	background: #FF8000;
	margin-bottom: 3px;
}
.pai{
	width: 100%;
	background: white;
	overflow: hidden;
}
.pai1{
	width: 50%;
	float: left;
}
.pai1>img{
	width: 100%;
}
.zi{
	width: 100%;
	height: 34px;
	text-align: center;
	line-height: 34px;
}
.zi>i{
	font-style: normal;
	padding: 0 5px;
	color: #009F8A;
}
.zi>span{
	display: inline-block;
	width: 34px;
	height: 1px;
	background: #009F8A;
	margin-bottom: 3px;
}
.xun{
	width: 100%;
	overflow: hidden;
/*	padding-bottom: 15px;*/
}
.xun1{
	width: 33.3%;
	float: left;
}
.xun1>img{
	width:100%;
}
.bian{
	width: 100%;
	height: 34px;
	text-align: center;
	line-height: 34px;
}
.bian>i{
	font-style: normal;
	padding: 0 5px;
	color: #43AF00;
}
.bian>span{
	display: inline-block;
	width: 34px;
	height: 1px;
	background: #43AF00;
	margin-bottom: 3px;
}
.jie{
	width: 100%;
/*	height: 146px;*/
	background: white;
	overflow: hidden;
}
.jie1{
	width: 45%;
	height: 100%;
	box-sizing: border-box;
	border-right: 1px solid #F0F0F0;
	float: left;
}
.jie1>img{
	width: 100%;
}
.jie2{
	width: 55%;
	height: 100%;
	float: right;
}
.jie2>img{
	width: 100%;
	height: 49%;
	box-sizing: border-box;
	border-bottom: 1px solid #F0F0F0;
}
.hai{
	width: 100%;
	height: 34px;
	text-align: center;
	line-height: 34px;
}
.hai>i{
	font-style: normal;
	padding: 0 5px;
	color: #8828DD;
}
.hai>span{
	display: inline-block;
	width: 34px;
	height: 1px;
	background: #8828DD;
	margin-bottom: 3px;
}
.gou{
	width: 100%;
	overflow: hidden;
}
.gou1{
	width: 33.3%;
	float: left;
}
.gou1>img{
	width:100%;
	height: 100%;
}
.shi{
	width: 100%;
	height: 34px;
	text-align: center;
	line-height: 34px;
}
.shi>i{
	font-style: normal;
	padding: 0 5px;
	color: #E24AA5;
}
.shi>span{
	display: inline-block;
	width: 34px;
	height: 1px;
	background: #E24AA5;
	margin-bottom: 3px;
}
.box{
	width: 100%;
	overflow: hidden;
	background: white;
}
.box ul{
	width: 100%;
	overflow: hidden;
	background: white;
}
.box ul>li{
	width: 20%;
	height: auto;
	text-align: center;
	float: left;
	padding-top: 0.06rem;
	background: white;
}
.box ul>li>a{
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
	color: black;
	font-size: 12px;
}
.box ul>li>a>img{
	width: 36px;
	height: 36px;
}
.box ul>li>a>span{
	display: block;
}
.box ul>li:nth-child(5)~li{
	margin-top: 5px;
}
.item{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.item ul{
	border-bottom: 1px solid #F0F0F0;
}
.item ul:after{
	content: "";
	display: block;
	clear: both;
}
.item ul>li{
	width: 25%;
	height: auto;
	box-sizing: border-box;
	padding-top: 9px;
	float: left;
	background: white;
}
.item ul>li:first-child{
	border-right: 1px solid #F0F0F0;
}
.item ul>li>a{
	width:100%;
	height: auto;
	display: block;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: black;
}
.item ul>li>a>img{
	display: block;
	width: 100%;
}
.item ul>li>a>p{
	margin-top: 2px;
	color: purple;
}
.item ol:after{
	content: "";
	display: block;
	clear: both;
}
.item ol>li{
	width: 50%;
	height: auto;
	float: left;
	box-sizing: border-box;
	background: white;
	border-right: 1px solid #F0F0F0;
}
.item ol>li:first-child{
	padding-right: 1px;
}
.item ol>li>a{
	width: 100%;
	height: 100%;
	display: block;
}
.item ol>li>a>img{
	float: right;
	width: 50%;
}
.item ol>li>a>p{
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	line-height: 21px;
	box-sizing: border-box;
	padding:22px 0px 20px;
}
.item ol>li>a>p>strong{
	color: black;
}
.item ol>li>a>p>span{
	color: purple;
}
.ai	{
	width: 100%;
	height: 34px;
	text-align: center;
	line-height: 34px;
}
.ai>i{
	font-style: normal;
	padding: 0 5px;
	color: #17B7FF;
}
.ai>span{
	display: inline-block;
	width: 34px;
	height: 1px;
	background: #17B7FF;
	margin-bottom: 3px;
}
.sheng{
	width: 100%;
	background: white;
	overflow: hidden;
}
.sheng1{
	width: 25%;
	float: left;
}
.sheng1>img{
	width: 100%;
}
.re{
	width: 100%;
	height: 34px;
	text-align: center;
	line-height: 34px;
}
.re>i{
	font-style: normal;
	padding: 0 5px;
	color: #5E4AE2;
}
.re>span{
	display: inline-block;
	width: 34px;
	height: 1px;
	background: #5E4AE2;
	margin-bottom: 3px;
}
.hang{
	width: 100%;
	overflow: hidden;
}
.hang1{
	width: 50%;
	height: 101px;
	background: white;
	text-align: center;
	float: left;
	box-sizing: border-box;
	border-bottom: 1px solid #F0F0F0;
}
.hang1:first-child{
	
	border-right: 1px solid #F0F0F0;
}
.hang1-left{
	width: 50%;
	float: left;
}
.hang1-right{
	width: 50%;
	height: 100%;
	float: right;
	position: relative;
	overflow: hidden;
}
.hang1-right>img{
	width:100% ;
	position: absolute;
	top: -0.3rem;
	left: 0rem;
	
}
.hang1-left>i{
	width: 100%;
	display:block;
	float: left;
	font-style: normal;
	font-size: 0.14rem;
	color: #9B9B9B;
	margin-top: 0.05rem;
}
.hang1-left>span{
	display:block;
	width: 100%;
	padding-top: 5px;
	line-height: 0.2rem;
}
.hang ul{
	width: 25%;
	float: left;
	overflow: hidden;
}
.hang ul>li{
	width: 100%;
	text-align: center;
	background: white;
	box-sizing: border-box;
	border-right: 1px solid #F0F0F0;
}
.hang ul>li>span{
	display: inline-block;
	padding-top: 5px;
}
.hang ul>li>i{
	font-style: normal;
	font-size: 0.14rem;
	color: #9B9B9B;
}
.hang ul>li>img{
	width:80%;
	padding-top: 0.1rem;
	padding-bottom: 0.05rem;
}
.hang ul:last-child>li{
	border:0px;
}
.qi{
	width: 100%;
	height: 34px;
	text-align: center;
	line-height: 34px;
}
.qi>i{
	font-style: normal;
	padding: 0 5px;
	color: #051B28;
}
.qi>span{
	display: inline-block;
	width: 34px;
	height: 1px;
	background: #051B28;
	margin-bottom: 3px;
}
.jian{
	width: 50%;
/*	background: white;*/
	float: left;
	box-sizing: border-box;
	padding-right: 1px;
	padding-bottom: 1px;
}
.a1{
	padding-right: 0px;
	padding-left: 1px;
}
.a2{
	padding-bottom: 0px;
	padding-top: 1px;
}
.jian1{
	width: 100%;
	overflow: hidden;
}
.jian1-left{
	width: 66.5%;
	height: 2.47rem;
	float: left;
	background: white;
}
.jian1-left>img{
	height: 100%;
	display: block;
}
.jian1-right{
	width: 33.5%;
	height: 2.47rem;
	float: right;
	background: white;
}
.jian1-right>img{
	height: 50%;
	display: block;
}
.jian2{
	width: 100%;
	padding-bottom: 0.05rem;
	padding-top: 0.03rem;
	background: white;
}
.jian2>img{
	width: 0.24rem;
	display: block;
	float: left;
	margin: 0.03rem 0.05rem;
}
.jian2>span{
	display: block;
	font-size: 0.12rem;
}
.jian2>em{
	margin-top: 0.02rem;
	font-style: normal;
	display: block;
	font-size: 0.12rem;
	color: #9B9B9B;
}
footer{
	width: 100%;
	border-top: 2px solid black;
}
.dao{
	width: 100%;
	text-align: center;
	font-size: 0.12rem;
	color: #999999;
	padding-top: 0.19rem;
}
.dao>a{
	display: inline-block;
	padding: 0rem 0.3rem;
	font-size: 0.12rem;
	color: #999999;
	line-height: 0.14rem;
}
.dao>p{
	width: 100%;
	text-align: center;
	padding: 0.3rem 0 0.22rem;
	color: #CCCCCC;
}
